# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# OS Files
.DS_Store
Thumbs.db

# VS Code / IDE
.vscode/
.idea/

# Logs
*.log

# Scratch
scratch/

# SSH Keys & Tokens
.ssh/
.github_pat
*.zip
